<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ca_description)/urdf/common_properties.xacro"/>

  <xacro:macro name="color_sensor" params="prefix parent visualize:=false *origin1 **origin2">  
    <xacro:property name="parent_link" value="${parent}"/>
    
    <link name="${prefix}_color_sensor">
        <visual>
            <geometry>
                <mesh filename="package://ca_description/meshes/scaled_lens.stl"/>
            </geometry>
        </visual>
    </link>

    <joint name="base_to_${prefix}_color_sensor" type="fixed">
        <parent link="${parent_link}"/>
        <child link="${prefix}_color_sensor"/>
        <xacro:insert_block name="origin1" />
    </joint>

    <joint name="${prefix}_color_optical_joint" type="fixed">
      <xacro:insert_block name="origin2" />
      <parent link="${prefix}_color_sensor" />
      <child link="${prefix}_color_optical_frame"/>
    </joint>

    <link name="${prefix}_color_optical_frame"/>
 </xacro:macro>
</robot>