<?xml version="1.0" ?>
<model>
    <name>walls</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Steven Desvars</name>
        <email>steven.desvars@ekumenlabs.com</email>
    </author>
    <description>Walls necessary to create an square room</description>
</model>
