<?xml version="1.0"?>
<launch>
  <arg name="goal_seconds" default="300"/>
  <arg name="goal_pos_x" default="-1.7"/>
  <arg name="goal_pos_y" default="1.7"/>

  <!-- Action Client -->
  <node pkg="ca_tools" type="action_client.py" name="action_client"/>
  <param name="get_seconds" type="double" value="$(arg goal_seconds)" />
  <param name="get_pos_x" type="double" value="$(arg goal_pos_x)" />
  <param name="get_pos_y" type="double" value="$(arg goal_pos_y)" />

  <!-- Action Server -->
  <node pkg="ca_tools" type="action_server.py" name="action_server"/>

  <!-- Robot Controller -->
  <node pkg="ca_tools" type="robot_controller.py" name="robot_controller"/>
</launch>