<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="color_sensor" params="prefix parent color *origin">
 <joint name="${prefix}_color_joint" type="fixed">
    <xacro:insert_block name='origin' />
    <parent link="${parent}" />
    <child link="${prefix}_color_link" />
  </joint>

  <link name="${prefix}_color_link"></link>

 <joint name="${prefix}_color_optical_joint" type="fixed">
    <origin xyz="-0 0 0" rpy="${pi*3/2} 0 ${pi*3/2}" />
    <parent link="${prefix}_color_link" />
    <child link="${prefix}_color_optical_link" />
  </joint>

  <link name="${prefix}_color_optical_link">
      <visual>
        <geometry>
           <mesh filename="package://ca_description/meshes/camera.stl" scale="1 1 1"/>
           <pose frame="">0 0 0 0.707 0 -0.707 0 </pose>
        </geometry>
      </visual>
  </link>

</xacro:macro>  

</robot>