<launch>
  <arg name="tf_prefix"/>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <rosparam file="$(find ca_slam)/config/slam_gmapping.yaml" command="load"/>
    <param name="odom_frame" value="$(arg tf_prefix)/odom"/>
    <param name="base_frame" value="$(arg tf_prefix)/base_footprint"/>
    <remap from="scan" to="laser/scan"/>
    <!-- We want a single map for multi-robots -->
    <remap from="map" to="/map" />
    <remap from="map_metadata" to="/map_metadata"/>
  </node>
</launch>
